{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}
{% block body %}





 
<div class="container">
 <h1 style="text-align: center;">Enroll with Us </h1>
 <main class="border mx-5 p-5">

    <div class="row">
        <div class="col-sm-4" >
     {{form.fullname.label }}
        </div>
        <div class="col-sm-6 ">
            <form method="POST">
           <div class="form group p-auto">
             {{ form.hidden_tag() }}
             {{ form.fullname(class="form-control",placeholder="Enter your full name" ,id="newnumber",style="margin-bottom: 10px;")}}
           </div>
          
        
        </div>
     </div>

     



     <div class="row">
        <div class="col-sm-4" >
      {{form.gender.label }}
        </div>
        <div class="col-sm-6">
        
           <div class="form group">
             {{ form.hidden_tag() }}
             {{ form.gender(class="form-select",style="margin-bottom: 10px;")}}
           </div>
          
        
        </div>
        
      </div>




      <div class="row">
        <div class="col-sm-4" >
       {{form.dob.label }}
        </div>
        <div class="col-sm-6">
        
           <div class="form group p-auto">
             {{ form.hidden_tag() }}
             {% if form.dob.errors %}
                            {{form.dob(class="form-control is-invalid")}}
                          <div class=" invalid-feedback">
                          {% for error in form.dob.errors %}
                          <span>
                            {{error}}
                          </span>
                          {% endfor %}
                          </div>
                          {% else %}
                          {{ form.dob(class="form-control",id="newage",placeholder="format should be in the form day/month/Year",style="margin-bottom: 10px;")}}
           {% endif %}
          </div> 
        </div>
        
       </div>

      
      <div class="row">
       <div class="col-sm-4" >
      {{form.age.label }}
       </div>
       <div class="col-sm-6">
       
          <div class="form group p-auto">
            {{ form.hidden_tag() }}
            {% if form.age.errors %}
                           {{form.age(class="form-control is-invalid")}}
                         <div class=" invalid-feedback">
                         {% for error in form.age.errors %}
                         <span>
                           {{error}}
                         </span>
                         {% endfor %}
                         </div>
                         {% else %}
                         {{ form.age(class="form-control",id="newage",placeholder="Enter your Age",style="margin-bottom: 10px;")}}
          {% endif %}
         </div> 
       </div>
       
      </div>
      <div class="row">
      <div class="col-sm-4" >
      {{form.number.label }}
      </div>
      <div class="col-sm-6">
      
        <div class="form group p-auto">
          {{ form.hidden_tag() }}
          {{ form.number(class="form-control",placeholder="Enter your phone number " ,id="newnumber",style="margin-bottom: 10px;")}}
        </div>
       
      
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4" >
      {{form.email.label }}
      </div>
      <div class="col-sm-6">
      
      <div class="form group p-auto">
        {{ form.hidden_tag() }}
        {{ form.email(class="form-control", id="newemail",placeholder="Enter your email",style="margin-bottom: 10px;")}}
      </div>
      
      
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-4" >
      {{form.location.label }}
      </div>
      <div class="col-sm-6">
      
         <div class="form group p-auto">
           {{ form.hidden_tag() }}
           {{ form.location(class="form-control", id="newlication",placeholder="Enter your location",style="margin-bottom: 10px;")}}
         </div>
        
      
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-4" >
      {{form.digital.label }}
      </div>
      <div class="col-sm-6">
      
         <div class="form group p-auto">
           {{ form.hidden_tag() }}
           {{ form.digital(class="form-control", id="newdigital",placeholder="Enter your digital address",style="margin-bottom: 10px;")}}
         </div>
        
      
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-4" >
      {{form.landmark.label }}
      </div>
      <div class="col-sm-6">
      
         <div class="form group p-auto">
           {{ form.hidden_tag() }}
           {{ form.landmark(class="form-control", id="newlandmark",placeholder="Enter your landmark",style="margin-bottom: 10px;")}}
         </div>
        
      
      </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      <div class="row">
        <div class="col-sm-4" >
       {{form.guard.label }}
        </div>
        <div class="col-sm-6">
        
           <div class="form group p-auto">
             {{ form.hidden_tag() }}
             {% if form.guard.errors %}
                            {{form.guard(class="form-control is-invalid")}}
                          <div class=" invalid-feedback">
                          {% for error in form.guard.errors %}
                          <span>
                            {{error}}
                          </span>
                          {% endfor %}
                          </div>
                          {% else %}
                          {{ form.guard(class="form-control",id="newage",placeholder="Enter your the name of your guardian ",style="margin-bottom: 10px;")}}
           {% endif %}
          </div> 
        </div>
        
       </div>







       <div class="row">
        <div class="col-sm-4" >
       {{form.guardnum.label }}
        </div>
        <div class="col-sm-6">
        
           <div class="form group p-auto">
             {{ form.hidden_tag() }}
             {% if form.guardnum.errors %}
                            {{form.guardnum(class="form-control is-invalid")}}
                          <div class=" invalid-feedback">
                          {% for error in form.guardnum.errors %}
                          <span>
                            {{error}}
                          </span>
                          {% endfor %}
                          </div>
                          {% else %}
                          {{ form.guardnum(class="form-control",id="newage",placeholder="Enter your Guardians number ",style="margin-bottom: 10px;")}}
           {% endif %}
          </div> 
        </div>
        
       </div>



     
       
      
      <div class="row">
      <div class="col-sm-4" >
      </div>
      <div class="col-sm-6">
      
      <div class="form group">
        {{ form.hidden_tag() }}
        {{ form.submit(class="btn btn-primary mb-3")}}
       {{ form.clear(class="btn btn-danger mb-3")}}
      
      
       
       
          
      </div>
      
      </form>
      </div>
      </div>
      </main>   
      <hr>
      



   


{% endblock body %}