{% extends 'index.html' %}
{% block body %}
<div class="container">
    <h1 style="text-align: center;">About the Founder </h1>
<div class="row">

<div class="col-3"></div>
<div class="col-6">

    <img src="{{url_for('static',filename='assets/estellaobeng.jpg')}}"  width="500" height="500" class=" rounded featurette-image img-fluid mx-auto" alt="estella">
    <p class=" text-justify p-4">
         Estella Obeng  comes from  Manso Agroyesum in the Ashanti region of Ghana. she is the second and only female child of her parents, the late Benjamin Ntumi and Mad. Yaa Pokua. Estella did her Senior high schooling at Manso Adubia senior high school and currently a MasterCard scholar at Kwame Nkrumah University of Science and Technology, reading Geography and Rural Development. 
She is the CEO of Stars Afrikan dream limited, a social enterprise which seek to inspire hope to young women. Being teenagers, teenage mothers and school dropouts  through Fashion design.
Her motivation is to see smiles on the faces of these young women and their families who have lost hope and thought that was it for them. The fashion school has been in existence for a year and  hope to graduate about 5 of the students next year. She is a hardworking, honest and very flexible( easy learning and cope with situations).
At her  leisure time she loves to sing and dance.
    </p>
</div>
<div class="col-3"></div>


</div>

</div>
{% endblock body %}