{% extends 'index.html' %}
{% block body %}


 <style>
#bg{
  background-image: url('{{url_for('static',filename='assets/ameyaw3.JPG')}}');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:100% 20%;
}
 </style>

  

  <div class="container" >
    <section id='bg' style=" " class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="text-white">Gallery</h1>
          <p class="text-white ">Contact us for your male and female African wear. Dresses are sown based on customer's specifications. We do nation wide deliveries at affordable prices.</p>
          <p>
            <a  target="_blank"href="https://api.whatsapp.com/send?phone=233548681828" class="btn btn-success my-2">WhatsApp us Now</a>
            <a href=" tel:+233-548681828" class="btn btn-primary my-2">Call us Now</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <hr>
<!-- START FEMALE -->
    <div class="album border py-5 bg-light">
<div class="container-fluid">
  <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
    <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
      <figure >
         <img src="{{url_for('static',filename='assets/model6.jpg')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> 
        <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small><div class="btn-group">
          <a href="{{url_for('static',filename='assets/model6.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
        
      </figcaption>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
      <figure  > <img src="{{url_for('static',filename='assets/model5.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small><div class="btn-group">
          <a href="{{url_for('static',filename='assets/model5.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div></figcaption>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-5">
      <figure > <img src="{{url_for('static',filename='assets/model4.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small> <div class="btn-group">
        <a href="{{url_for('static',filename='assets/model4.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
      </figcaption>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
      <figure  > <img src="{{url_for('static',filename='assets/model3.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small> <div class="btn-group">
        <a href="{{url_for('static',filename='assets/model3.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
      </figcaption>
    </div>
  </div>
</div>
    </div>
<!-- START FEMALE 2-->
    <div class="album border py-5 bg-light">
      <div class="container-fluid">
        <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
          <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
            <figure > <img src="{{url_for('static',filename='assets/model7.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small> <div class="btn-group">
              <a href="{{url_for('static',filename='assets/model7.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
            </figcaption>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
            <figure  > <img src="{{url_for('static',filename='assets/model8.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small><div class="btn-group">
              <a href="{{url_for('static',filename='assets/model8.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
            </figcaption>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 px-5">
            <figure > <img src="{{url_for('static',filename='assets/model9.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small><div class="btn-group">
              <a href="{{url_for('static',filename='assets/model9.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
            </figcaption>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
            <figure  > <img src="{{url_for('static',filename='assets/model11.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:  <br> Category: Ladies Wear </small> <div class="btn-group">
              <a href="{{url_for('static',filename='assets/model11.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
            </figcaption>
          </div>
        </div>
      </div>
          </div>




<!-- START male -->


<!-- START MALE 2-->




          <div class="album border py-5 bg-light">
            <div class="container-fluid">
              <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
                <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">

                  <figure > <img src="{{url_for('static',filename='assets/kaftan.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" ><small> Description:<br> Category: Gents Wear <br>  </small> <div class="btn-group">
                    <a href="{{url_for('static',filename='assets/kaftan.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>   </figcaption>    
          
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
                  <figure  > <img src="{{url_for('static',filename='assets/kaftan2.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" ><small>Description: Kaftan<br> Category: Gents Wear <br> </small> <div class="btn-group">
                    <a href="{{url_for('static',filename='assets/kaftan2.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption>   
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 px-5">
                  <figure > <img src="{{url_for('static',filename='assets/kaftan3.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4 " ><small> Description: Kaftan<br> Category: Gents Wear <br> </small>
                     <div class="btn-group">
                    <a href="{{url_for('static',filename='assets/kaftan3.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption>   
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
                  <figure  > <img src="{{url_for('static',filename='assets/man.JPG')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description: long Sleeve <br> Category: Gents Wear <br> </small> <div class="btn-group">
                    <a href="{{url_for('static',filename='assets/man.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a></div>     
                  </figcaption>   
                </div>
              </div>
            </div>
                </div>


                <div class="album border py-5 bg-light">
                  <div class="container-fluid">
                    <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
                      <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
                        <figure > <img src="{{url_for('static',filename='assets/kid1.jpeg')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" > <small>Description:<br> Category: Children <br></small>  <div class="btn-group">
                          <a href="{{url_for('static',filename='assets/kid1.jpeg')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption> .
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
                        <figure  > <img src="{{url_for('static',filename='assets/child4.jpeg')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" ><small>Description:<br> Category: Children<br> </small> <div class="btn-group">
                          <a href="{{url_for('static',filename='assets/child4.jpeg')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption>  .
                      </div>

                      <div class="col-sm-3 col-md-3 col-lg-3 px-5">
                        <figure > <img src="{{url_for('static',filename='assets/child2.jpeg')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" ><small> Description:<br> Category: Children <br></small><div class="btn-group">
                          <a href="{{url_for('static',filename='assets/child2.jpeg')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption> 
                      </div>
                      <div class="col-sm-3 col-md-3 col-lg-3 px-5 ">
                        <figure  > <img src="{{url_for('static',filename='assets/kid3.jpeg')}}"  width="250" height="250" style="object-fit: contain; " alt="featurette"> <figcaption class="ps-4" ><small>l Description:<br> Category: Children<br> </small><div class="btn-group">
                          <a href="{{url_for('static',filename='assets/kid3.jpeg')}}" class="btn btn-sm btn-outline-secondary">View</a></div> </figcaption> 
                      </div>
                    </div>
                  </div>
                      </div>






                
      




  {% endblock body %}
