{% extends 'index.html' %}
{% block body %}


 <style>
#bg{
  background-image: url('{{url_for('static',filename='assets/ameyaw2.JPG')}}');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:100% 20%;
}
 </style>

  

  <div class="container" >
    <section id='bg'  class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="text-white">Gallery</h1>
          <p class="text-white ">Contact us for your male and female African wear. Dresses are sown based on customer's specifications. We do nation wide deliveries at affordable prices.</p>
          <p>
            <a  target="_blank"href="https://api.whatsapp.com/send?phone=233548681828" class="btn btn-success my-2">WhatsApp us Now</a>
            <a href=" tel:+233-548681828" class="btn btn-primary my-2">Call us Now</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <hr>




<!-- START FEMALE -->
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
      <div class="col">
        <div class="card shadow-sm">

          <img src="{{url_for('static',filename='assets/female1.jpg')}}"  width="100%" height="auto" class=" rounded featurette img-fluid  mx-auto" alt="featurette">
          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female1.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
          
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female2.jpg')}}"  width="100%" height="auto"  class=" rounded featurette-image img-fluid  mx-auto" alt="model1">
          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female2.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female3.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/famale3.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
               
              </div>
             
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female11.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female11.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
               
              </div>
             
            </div>
          </div>
        </div>
      </div>



    </div>

<!-- START MALE -->
    <div class="container py-5 ">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
  
            <img src="{{url_for('static',filename='assets/male1.jpg')}}"  width="100%" height="auto" class=" rounded featurette img-fluid  mx-auto" alt="featurette">
            <div class="card-body">
              <p class="card-text"><small>Description: Male African <br> Category: Gents Wear</small> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('static',filename='assets/male1.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
            
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename='assets/male2.jpg')}}"  width="100%" height="auto"  class=" rounded featurette-image img-fluid  mx-auto" alt="model1">
            <div class="card-body">
              <p class="card-text"><small>Description: Male African <br> Category: Gents Wear</small> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('static',filename='assets/male2.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename='assets/male4.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">
  
            <div class="card-body">
              <p class="card-text"><small>Description: Male African <br> Category: Gents Wear</small> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('static',filename='assets/male4.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
                 
                </div>
               
              </div>
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename='assets/male3.JPG')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">
  
            <div class="card-body">
              <p class="card-text"><small>Description: Male African <br> Category: Gents Wear</small> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('static',filename='assets/male3.JPG')}}" class="btn btn-sm btn-outline-secondary">View</a>
                 
                </div>
               
              </div>
            </div>
          </div>
        </div>
  
      </div>



<!-- START CHILDREN -->
<div class="container py-5 ">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
    <div class="col">
      <div class="card shadow-sm">

        <img src="{{url_for('static',filename='assets/child5.jpg')}}"  width="100%" height="auto" class=" rounded featurette img-fluid  mx-auto" alt="featurette">
        <div class="card-body">
          <p class="card-text"><small>Description: Female African <br> Category: Children's Wear</small> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{url_for('static',filename='assets/child5.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
        
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{url_for('static',filename='assets/child2.jpg')}}"  width="100%" height="auto"  class=" rounded featurette-image img-fluid  mx-auto" alt="model1">
        <div class="card-body">
          <p class="card-text"><small>Description: Male African <br> Category: Childrens Wear</small> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{url_for('static',filename='assets/child2.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{url_for('static',filename='assets/female9.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

        <div class="card-body">
          <p class="card-text"><small>Description: Female African <br> Category: Ladies Wear</small> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{url_for('static',filename='assets/female9.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card shadow-sm">
        <img src="{{url_for('static',filename='assets/male5.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

        <div class="card-body">
          <p class="card-text"><small>Description: Male African <br> Category: Gents Wear</small> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{url_for('static',filename='assets/male5.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>



  </div>

  
  
  
  <!-- START FEMALE -->
  <div class="container py-5">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
      <div class="col">
        <div class="card shadow-sm">

          <img src="{{url_for('static',filename='assets/female5.jpg')}}"  width="100%" height="auto" class=" rounded featurette img-fluid  mx-auto" alt="featurette">
          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female5.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
          
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female6.jpg')}}"  width="100%" height="auto"  class=" rounded featurette-image img-fluid  mx-auto" alt="model1">
          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female6.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female7.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/famale7.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
               
              </div>
             
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="{{url_for('static',filename='assets/female8.jpg')}}"  width="100%" height="auto" class=" rounded featurette-image img-fluid mx-auto" alt="kaftan">

          <div class="card-body">
            <p class="card-text"><small>Description: female African <br> Category: Ladies Wear</small> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('static',filename='assets/female8.jpg')}}" class="btn btn-sm btn-outline-secondary">View</a>
               
              </div>
             
            </div>
          </div>
        </div>
      </div>


    </div>
  








                
      




  {% endblock body %}
